body{
  background-color: skyblue
}

.navBar{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(51, 101, 238);
  height: 5vh;
  position: sticky;
  top: 0;
  font-size: 5vh;
}

#nameText{
  font-size: 4vmin;
  margin-right: 1vw;
}

#nameInputBox{
  border: none;
  background-color: rgb(51, 101, 238);
  font-size: 3vmin;
  color: white;
  border-bottom: 0.2vh solid black;
}

.container{
  margin: 0vw 5vw 0vw 5vw;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.titleblock{
  width: 100%;
  background-color:skyblue; 
  margin-bottom: 3vh;
  position: sticky;
  top: 5vh;
  border-bottom: .5vh dotted blue;
}

#nametag, #tasksleft, #addtaskform{
  display: flex;
  justify-content:center; 
}

#addtaskform{
  margin-bottom:5vh;
}

.theList{
  width: 100%;
}

.listItem{
  margin-top: 0.5vh;
  height: 5vh;
  width: 100%;
  border: .1vh solid black;
  background: rgb(255, 155, 0);
  display: flex;
  justify-content: space-between;
  border-radius: 3vw;
  overflow: auto;
}

.listButtons{
  border-radius: 3vw;
  margin-top: 0.5vh;
  width:12vw;
  height: 4vh;
  color:black;
  background-color: palegoldenrod;
  margin-left:.5vw;
  margin-right: .5vw;
  font-size: 3vmin;
}

.taskText{
  font-size: 3vmin;
}