body{
  background-color: aquamarine
}

.navBar{
  display:flex;
  justify-content: center;
  background-color: tomato;
  height: 5vh;
  position: sticky;
  font-size: 5vh;
}
#nameText{
  font-size: 4vh;
}
.thelist{
  margin-right: 5vw;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.listItem{
  margin-top: 0.5vh;
  height: 5vh;
  border: .1vh solid black;
  background-color: tomato;
  display: flex;
  justify-content: center;

}